

.about-us {
    max-width: 100%;
    background-color: rgb(40, 128, 115);
    text-align: center;
    padding:25px;

}
.about-us h1{
    color: white;
    font-weight: bold;
}
.title {
    padding: 25px;
}