
.sell {
    max-width: 100%;
    display: block;
    text-align: center;
    background-color: white;

}

h1 {
    padding-top: 35px;
    color:rgb(66, 40, 4);
    text-align: center;
    font-weight: bold;

}

.sell h2 {
    padding-top: 35px;
    color: rgb(255, 132, 0);
    font-weight: bold;
    letter-spacing: 2px;
}
.steps  {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}

.words {
    display: flex;
    justify-content: space-around;
}

.button1 {
    display: block;
}

i {
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .steps{
    display: block;
  }
 
    }
    